<hr/>
<div style="margin-top: 20px;">
    Search by:
    <input type="radio" id="rbDn" value="dn" checked="checked" name="filter" [(ngModel)]="filterValue">DN
    <input type="radio" id="rbCn" value="cn" name="filter" [(ngModel)]="filterValue">CN
    <input type="radio" id="rbCarton" value="carton" name="filter" [(ngModel)]="filterValue">Carton Id
    <input type="radio" id="rbRun" value="run" name="filter" [(ngModel)]="filterValue">Run
    <input type="text" id="txtSearchInput" value="" style="width: 200px" [(ngModel)]="filterContent">
    <label>Time: </label>
    <select id="ddlTime" [(ngModel)]="defTime" (ngModelChange)="defTime=$event;setTime()">
        <optgroup>
            <option value="0" selected="selected" >Last 1 hours</option>
            <option value="1" >Last 7 hours</option>
            <option value="2" >Last 24 hours</option>
            <option value="3" >Last 7 days</option>
            <option value="4" >Last 30 days</option>
        </optgroup>
    </select>
    <input type="checkbox" id="cbSuccess" value="Succeed" [checked]="success" (click)="setSucceed($event.target.checked)" />
    <input type="checkbox" id="cbFail" value="Filed" [checked]="failed" (click)="setFailed($event.target.checked)" />
    <input type="button" id="btnSearch" value="Search" (click)="search()" />
</div>
<div>
    <b>(Only top 200 rows are displayed)</b>
    <table style="width: 90%;" id="logTable">
        <thead style="font-weight: bold">
            <tr>
                <td>DN</td>
                <td>CN</td>
                <td>Run</td>
                <td>Carton ID</td>
                <td>Tracking Number</td>
                <td>Fwd / Rvrs</td>
                <td>Request Status</td>
                <td>Request Timestamp</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orderList">
                <td>{{order.Dn}}</td>
                <td>{{order.Cn}}</td>
                <td>{{order.Run}}</td>
                <td>{{order.CartonNumber}}</td>
                <td>{{order.TrackingNumber}}</td>
                <td>{{order.TrackingType}}</td>
                <td>{{order.TrackingStatus}}</td>
                <td>{{order.ReceiveTime}}</td>
                <td>
                    <button (click)="gotoDetail(order.Id)">Open Detail</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>